USE [master]
GO
/****** Object:  Database [OtobusBiletDB]    Script Date: 8/20/2019 1:42:59 PM ******/
CREATE DATABASE [OtobusBiletDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OtobusBiletDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OtobusBiletDB]
GO
/****** Object:  Table [dbo].[AdminPaneli]    Script Date: 8/20/2019 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminPaneli](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullaniciAdi] [nvarchar](50) NULL,
	[sifre] [nvarchar](50) NULL,
	[Adi] [nvarchar](50) NULL,
	[SoyAdi] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kayıtlar]    Script Date: 8/20/2019 1:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kayıtlar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NULL,
	[Soyadi] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](50) NULL,
	[Eposta] [nvarchar](50) NULL,
	[Adres] [nvarchar](50) NULL,
	[BinisYeri] [nvarchar](50) NULL,
	[BinisSaati] [nvarchar](50) NULL,
	[VarisYeri] [nvarchar](50) NULL,
	[VarisSaati] [nvarchar](50) NULL,
	[Tarih] [nvarchar](50) NULL,
	[KoltukNo] [nvarchar](50) NULL,
	[Fiyat] [nvarchar](50) NULL,
	[Cinsiyet] [nvarchar](50) NULL
) ON [PRIMARY]

GO
USE [master]
GO
